[workspace]
members = [
  "crates/cli",
  "crates/plugin-api",
  "plugins/align-comments",
  "plugins/trim-newlines",
]
resolver = "2"

[profile.release]
codegen-units = 1
opt-level = "s"
debug = false
strip = true
lto = true
